*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;line-height:1;font-size:14px;font-size:100%;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


body{
	font-family: 'Roboto', sans-serif;
	color: #2a2a2a;
}
a{
	color: #4263eb;
}
.container{
	max-width: 1024px;
	margin: 0 auto;
	padding: 50px 10px;
}
.header{
	display: flex;
	margin-bottom: 50px;
}
.name{
	font-size: 3rem;
	margin-bottom: 20px;
}
.contacts{
	margin-bottom: 20px;
	font-size: 1.2rem;
}
.summary{
	margin-bottom: 10px;
	font-size: 1.2rem;
	line-height: 1.5rem;
}
.info{
	padding-right: 100px;
}
.photo{
	border: 1px solid transparent;
	border-radius: 15px;
	width: 250px;
	height: 300px;
}
.experience{
	margin-bottom: 20px;
}

.experience-header,.education-header{
	font-size: 2rem;
	margin-bottom: 20px;
}
.date{
	line-height: 2rem;
}
.description{
	padding: 0 20px;
}
.education{
	margin-bottom: 50px;
}
.footer{
	border-top: #2a2a2a solid 1px;
	padding-top: 20px;
}
